nav {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #c3c3c3;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
}

img {
    /* 부모요소의 30% */
    width: 30%;
    height: 30em;
    object-fit: cover;
    /* 하드코드는 사이즈 크기에 반응하지 않아서 보기 좋지 않음 */
    /* margin: 20px; */
    /* clac 주어진 10%를 알아서 나눠줌 */
    margin: calc(10%/6);
}